[submodule "dsdl"]
	path = dsdl
	url = git@github.com:rocketSzw/DSDL.git
	branch = main
[submodule "libuavcan/dsdl_compiler/pyuavcan"]
	path = libuavcan/dsdl_compiler/pyuavcan
	url = https://github.com/dronecan/pydronecan
